html { 
    background: url("https://static.pexels.com/photos/1852/dawn-landscape-mountains-nature.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: solid grey;
    background-color: transparent;
}

h1#app-name {
    font-size:84px;
}


h2#page-header {
    padding-top:20px;
    padding-bottom:20px;
}

body #page-container {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 40px;
}

.btn-wrapper {
    padding: 20px 0;
}

#top-container{
    background:white;
    opacity:0.6;
}
#mid-container{
    background:white;
    opacity:0.8;
}
#btm-container{
    background:white;
    opacity:0.6;
}